<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../../Content/products.css" />
</head>

<h3>Orders </h3>

<div class="products container col-sm-12" style="width: 98% !important;">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-view-container">

                <table class="table-view">
                    <thead class="table-view-header">
                        <tr>
                            <th class="space"></th>
                            <th>Id</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Is Notified</th>
                        </tr>
                    </thead>

                    <tbody class="table-view-body">
                        <tr class="products" ng-repeat="order in allOrders" ng-class="{lightgrey: $index % 2 != 0}">
                            <td class="fab-cell">
                                <div class="fab">
                                    <a href="">
                                        <i class="material-icons">description</i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                {{order.Id}}
                            </td>
                            <td>
                                {{order.Price}}
                            </td>
                            <td>
                                {{order.Date}}
                            </td>
                            <td>
                                <input type="checkbox" ng-model="order.IsNotified" />
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

