<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<h3>Product Type Dashboard</h3>
<form class="form-inline">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="newProductType.Name" placeholder="Add Name" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="newProductType.Description" placeholder="Add description" />
    </div>
    <button class="btn btn-primary" type="button" ng-click="addNewProductType(newProductType)">Add New</button>
</form>
<table>
    <tr ng-repeat="productType in allProductTypes">
        <td>
            {{productType.Id}}
        </td>
        <td>
            {{productType.Name}}
        </td>
        <td>
            {{productType.Description}}
        </td>
        <td>
            <a href="" ng-click="deleteProductType(productType.Id)">
                <i class="material-icons">delete</i>
            </a>
        </td>
    </tr>
</table>