<h3>Product Dashboard</h3>

<a href="#administration/product/add">Add new</a>

<table>
    <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Description</th>
        <th>Price</th>
        <th>In Stock</th>
        <th>Is Deleted</th>
    </tr>
    <tr ng-repeat="product in allProducts">
        <td>
            {{product.Name}}
        </td>
        <td>
            {{product.Details}}
        </td>
        <td>
            {{product.Description}}
        </td>
        <td>
            {{product.Price}}
        </td>
        <td>
            <input type="checkbox" ng-model="product.InStock"/>
        </td>
        <td>
            <input type="checkbox" ng-model="product.IsDeleted"/>
        </td>
    </tr>
</table>
