<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../../Content/products.css" />
</head>

<h3>Product Dashboard</h3>

<a class="btn btn-primary" href="#administration/product/add">Add new</a>

<div class="products container col-sm-12" style="width: 98% !important;">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-view-container">

                <table class="table-view">
                    <thead class="table-view-header">
                        <tr>
                            <th class="space"></th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>In Stock</th>
                            <th>Is Deleted</th>
                        </tr>
                    </thead>
                    <tbody class="table-view-body">
                        <tr class="products" ng-repeat="product in allProducts" ng-class="{lightgrey: $index % 2 != 0}">
                            <td class="fab-cell">
                                <div class="fab">
                                    <a href="">
                                        <i class="material-icons">description</i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                {{product.Name}}
                            </td>
                            <td>
                                {{product.Details}}
                            </td>
                            <td>
                                {{product.Description}}
                            </td>
                            <td>
                                {{product.Price}}
                            </td>
                            <td>
                                <input type="checkbox" ng-model="product.InStock" ng-change="updateProductDetails(product)" />
                            </td>
                            <td>
                                <input type="checkbox" ng-model="product.IsDeleted" ng-change="updateProductDetails(product)" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>