<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../../Content/products.css" />
</head>

<div class="products container col-sm-12" style="width: 98% !important;">

    <div class="row">
        <div class="col-md-12 col-md-12">
            <h1 class="strat-detail-header">Cart review</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-view-container">

                <table class="table-view">
                    <thead class="table-view-header">
                        <tr>
                            <th class="col-sm-2 col-lg-2">Name</th>
                            <th class="col-sm-2 col-lg-2">Price</th>
                            <th class="col-sm-2 col-lg-2">Remove</th>
                        </tr>
                    </thead>

                    <tbody class="table-view-body">
                        <tr class="products" ng-repeat="product in shoppingCart track by $index" ng-class="{lightgrey: $index % 2 != 0}">
                            <td class="col-sm-2 col-lg-2">
                                {{product.Name}}
                            </td>
                            <td class="col-sm-2 col-lg-2">
                                {{product.Price | currency}}
                            </td>
                            <td class="col-sm-3 col-lg-3">
                                <a ng-click="removeFromCart(product)"><i class="material-icons m-icon">delete</i></a>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
            You have <b>{{ shoppingCart.length }}</b> selected items.   TOTAL:<b> {{totalPrice | currency}}</b>
        </p>

        <a href="#home/cartreview" class="navbar-btn btn-danger btn pull-right" ng-hide="shoppingCart.length == 0">
            <i class="material-icons m-icon">shopping_cart</i> Submit order
        </a>
    </div>
</div>