<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../../Content/products.css" />
</head>

<div class="products container col-sm-12" style="width: 98% !important;">

    <div class="row">
        <div class="col-md-12 col-md-12">
            <h1 class="strat-detail-header">Cart review</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="table-view-container">

                <table class="table-view">
                    <thead class="table-view-header">
                        <tr>
                            <th class="col-sm-2 col-lg-2">Name</th>
                            <th class="col-sm-2 col-lg-2">Price</th>
                            <th class="col-sm-2 col-lg-2">Remove</th>
                        </tr>
                    </thead>

                    <tbody class="table-view-body">
                        <tr class="products" ng-repeat="product in shoppingCart track by $index" ng-class="{lightgrey: $index % 2 != 0}">
                            <td class="col-sm-2 col-lg-2">
                                {{product.Name}}
                            </td>
                            <td class="col-sm-2 col-lg-2">
                                {{product.Price | currency}}
                            </td>
                            <td class="col-sm-3 col-lg-3">
                                <a ng-click="removeFromCart(product)"><i class="material-icons m-icon">delete</i></a>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

        <div class="col-lg-4">
            <form name="cart" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : cart.name.$error.required && cart.name.$touched }" show-errors>
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" ng-model="name" placeholder="Enter full name" required>
                    <div class="form-error-holder">
                        <span class="help-block" ng-show="cart.name.$error.required && cart.name.$touched">Name is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : cart.address.$error.required && cart.address.$touched }" show-errors>
                    <label class="control-label">Address</label>
                    <input type="text" class="form-control" name="address" id="address" ng-model="address" placeholder="Enter shipping address" required>
                    <div class="form-error-holder">
                        <span class="help-block" ng-show="cart.address.$error.required && cart.address.$touched">Address is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : (cart.email.$error.required || cart.email.$error.email) && cart.email.$touched }" show-errors>
                    <label class="control-label">Email address:</label>
                    <input type="email" class="form-control" name="email" id="email" ng-model="email" placeholder="Enter email" required>
                    <div class="form-error-holder">
                        <span class="help-block" ng-show="cart.email.$error.required && cart.email.$touched">Email is required.</span>
                        <span class="help-block" ng-show="cart.email.$error.email && cart.email.$touched">Invalid Email address.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : cart.creditCard.$error.required && cart.creditCard.$touched }" show-errors>
                    <label class="control-label">Credit Card:</label>
                    <input type="text" class="form-control" name="creditCard" id="creditCard" ng-model="creditCard" placeholder="0000-0000-0000-0000" required>
                    <div class="form-error-holder">
                        <span class="help-block" ng-show="cart.creditCard.$error.required && cart.creditCard.$touched">Credit Card is required.</span>
                    </div>
                 </div>
                <div class="form-group">
                    <label> TOTAL:<b> {{totalPrice | currency}}</b></label>
                </div>
                <button type="button" ng-disabled="cart.$invalid" class="btn btn-danger"><i class="material-icons m-icon">shopping_cart</i> Submit order</button>
            </form>
        </div>
    </div>

    
</div>



