<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../../Content/products.css" />
    <link rel="stylesheet" type="text/css" href="../../../Content/salvattore.css" />
</head>

<h1>Top Deals</h1>

<div class="row" id="grid" data-columns>
    <div ng-repeat="product in allProducts" after-render-dashboard="postDashboardRender">
        <div class="panel panel-item">
            <product-dashboard-container></product-dashboard-container>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
           You have <!--<input class="text-center" ng-model="" style="width: 60px" type="text" readonly placeholder="0"/>--> {{ shoppingCart.length }} products selected. 
        </p>

        <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
            <i class="material-icons m-icon">shopping_cart</i> Place your order
        </a>
    </div>
</div>