<div class="panel-heading card-header">
    <div class="media">
        <div class="media-left">
            <i class="material-icons m-icon">local_dining</i>
        </div>
        <div class="media-body">
            <h2 class="card-title">Lunch</h2>
        </div>
        <div class="media-right">
            <div class="media-right">
                <span style="cursor: pointer;">
                    <i class="material-icons settings">favorite</i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="switch">
        <h3 class="section-title">Lunch</h3>
    </div>
</div>