
<div class="panel-heading card-header">
    <div class="media">
        <div class="media-left">
            <i class="material-icons m-icon">local_dining</i>
            {{product.Name}}
        </div>
        <div class="media-body">
            <h2 class="card-title">{{product.ProductType.Name}}</h2>
        </div>
        <div class="media-right">
            <div class="media-right">
                <span style="cursor: pointer;">
                    <i class="material-icons settings">favorite</i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="switch">
        <h3 class="section-title">{{product.Description}}</h3>
    </div>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Details">
            <ul>
                <li ng-repeat="detail in product.Details">{{detail}}</li>
            </ul>
        </div>
    </uib-accordion>
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <div class="form-inline">
                <button class="btn btn-default btn-sm" ng-click="upSpinner(product)"><i class="material-icons settings">add</i></button>
                <!--<span class="label label-default" ng-bind="product.Amount">0</span>-->
                <input type="text" class="form-control input-sm text-center" style="width: 60px" ng-model="product.Amount" placeholder="0" readonly />
                <button class="btn btn-default btn-sm" ng-click="downSpinner(product)"><i class="material-icons settings">remove</i></button>
            </div>
        </div>
    </div>
</div>