/*Media Query */

@media only screen and (min-width: 400px) {
    .card-tiles {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


@media only screen and (min-width: 800px) {
    .card-tiles {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .card-tiles {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1300px) {
    .card-tiles {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .card-tiles {
        width: 1260px;
    }
}

@media only screen and (min-width: 1380px) {
    .card-tiles {
        width: 1360px;
    }
}
/*Tiles or Masonry*/

.card-tiles {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.card {
    display: inline-block;
    background: #fff;
    padding: 1px 1px 1px 1px;
    margin: 1.5em 0 1.5em 0;
    width: 100%;
    -webkit-box-shadow: 4px 4px 18px 5px rgba(120, 120, 120, 1);
    -moz-box-shadow: 4px 4px 18px 5px rgba(120, 120, 120, 1);
    box-shadow: 4px 4px 18px 5px rgba(120, 120, 120, 1);
}

.card .header .title {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

.card .header .subheader {
    color: gray;
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

.card .body {
    font-family: arial;
    text-align: justify;
    text-justify: inter-word;
}




/* Different color - cards */

.warm {
    background-color: #fdefec;
}

.warm .header .subheader,
.warm .header .title {
    background-color: #e73827 !important;
    color: white !important;
}

.warm .body {
    background-color: #fcc0b5 !important;
    color: black !important;
}

.cold {
    background-color: #e4f0fc;
}

.cold .header .title,
.cold .header .subheader {
    background-color: #207ce5 !important;
    color: white !important;
}

.cold .body {
    background-color: #a4c9f4 !important;
    color: black !important;
}

.grey {
    background-color: #f5f5f5;
}

.grey .header .title {
    background-color: #737373 !important;
    color: white !important;
}

.grey .body {
    background-color: #c9c9c9 !important;
    color: black !important;
}


/*Animations*/

.expand-zoom {
    height: 0;
    font-size: 0;
    transition: all .75s;
    border-width: 0px 1px 0px 1px;
}

.expand-zoom.open {
    height: 100px;
    font-size: 100%;
    padding: 12px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: gray;
}

.expand-slide {
    max-height: 0px;
    overflow: hidden;
    transition: all .75s;
}

.expand-slide.open {
    max-height: 100px;
}

ul.expand-slide {
    margin-bottom: 0 !important;
}

.expand-slide-color {
    height: 0;
    overflow: hidden;
    background-color: inherit;
    transition: all 1.75s;
}

.expand-slide-color.open {
    background-color: lightcoral;
    height: 120px;
}


/*Images*/

.images-style {
    width: 200px;
    height: 100px;
}


/*GridView*/
.grid {
	    padding: 1px 0px 1px 0px;
	    -webkit-box-shadow: 8px 8px 31px 9px rgba(120, 120, 120, 1);
	    -moz-box-shadow: 8px 8px 31px 9px rgba(120, 120, 120, 1);
	    box-shadow: 8px 8px 31px 9px rgba(120, 120, 120, 1);
	}
	
 .grid .header .title {
	    font: 600 1.5em/1 'Raleway', sans-serif;
	    color: rgba(0, 0, 0, .5);
	    text-align: center;
	    text-transform: uppercase;
	    word-wrap: break-word;
	}
	
	.grid .header .subheader {
	    color: gray;
	    font-style: italic;
	    text-align: justify;
	    text-justify: inter-word;
	}
	
	.grid .body {
	    font-family: arial;
	    text-align: justify;
	    text-justify: inter-word;
	}